@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
      @apply bg-[#c6fff282] border-r-[6px] text-[#02685A] [border-right-style:solid] border-[#02685a];
    }
    .inactive{
        @apply text-gray-600;
    }
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
      }

      .errorMsg{
        color: #d9534f;
        font-size: 14px;
      }

     
      
  }

